@model CTHoSoBNViewModel

@using Microsoft.AspNetCore.Http
@using ThietBiYeuThuong.Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Sửa CT phiếu";
    var user = HttpContextAccessor.HttpContext.Session.GetSingle<ThietBiYeuThuong.Data.Models.User>("loginUser");

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sửa CT phiếu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="HoSoBN" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect">Danh sách phiếu</a></li>
                    <li class="breadcrumb-item active">Sửa CT phiếu</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Sửa CT phiếu</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">

            <form method="post" autocomplete="off" id="frmCTHoSoBNEdit">
                <div class="pr-4 pl-4 text-sm">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="HoSoBN.SoPhieu" />
                    <input type="hidden" asp-for="CTHoSoBN.HoSoBNId" value="@Model.HoSoBN.SoPhieu" />
                    <input type="hidden" asp-for="Page" />
                    <input type="hidden" asp-for="StrUrl" />

                    <input asp-for="CTHoSoBN.SoPhieuCT" type="hidden" />
                    <input asp-for="CTHoSoBN.LapPhieu" type="hidden" />
                    <input asp-for="CTHoSoBN.NgayNhap" type="hidden" />
                    <input asp-for="CTHoSoBN.NgayTao" type="hidden" />
                    <input asp-for="CTHoSoBN.NgayXuat" type="hidden" />
                    <input asp-for="CTHoSoBN.LogFile" type="hidden" />

                    <div id="txtNhap">

                        <div class="form-group row">

                            <div class="col-md-3">
                                <label asp-for="CTHoSoBN.ThietBiId" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@ <!--@*asp-format="{0:dd/MM/yyyy}"*@-->
                                <input asp-for="CTHoSoBN.ThietBiId" class="form-control form-control-sm" id="txtThietBi" />
                                <span asp-validation-for="CTHoSoBN.ThietBiId" class="text-danger"></span>
                            </div>

                            <div class="col-md-3">
                                <label asp-for="CTHoSoBN.DongHoGiao" class="control-label"></label>
                                <input asp-for="CTHoSoBN.DongHoGiao" class="form-control form-control-sm" id="txtSoLuong" />
                                <span asp-validation-for="CTHoSoBN.DongHoGiao" class="text-danger"></span>
                            </div>

                            <div class="col-md-3">
                                <label asp-for="CTHoSoBN.DongHoThu" class="control-label"></label>
                                <input asp-for="CTHoSoBN.DongHoThu" class="form-control form-control-sm" id="txtSoLuong" />
                                <span asp-validation-for="CTHoSoBN.DongHoThu" class="text-danger"></span>
                            </div>

                            <div class="col-md-3">
                                <label asp-for="CTHoSoBN.SoLuong" class="control-label"></label>
                                <input asp-for="CTHoSoBN.SoLuong" class="form-control form-control-sm" id="txtSoLuong" />
                                <span asp-validation-for="CTHoSoBN.SoLuong" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="col-md-3">
                                <label asp-for="CTHoSoBN.NVGiaoBinh" class="control-label"></label>
                                <input asp-for="CTHoSoBN.NVGiaoBinh" class="form-control form-control-sm" id="txtSoLuong" />
                                <span asp-validation-for="CTHoSoBN.SoLuong" class="text-danger"></span>
                            </div>

                            <div class="col-md-9">
                                <label asp-for="CTHoSoBN.GhiChu" class="control-label"></label>
                                <input asp-for="CTHoSoBN.GhiChu" class="form-control form-control-sm " id="txtGhiChu" />
                                <span asp-validation-for="CTHoSoBN.GhiChu" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" id="btnSubmit_CTHoSoBN_Edit"><i class="fas fa-save"></i> Save</button>
                        <button type="button" class="btn btn-success btn-sm" id="btnBack_CTHoSoBN_Edit"><i class="fas fa-backward "></i> Back</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
@*<script>

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });
    </script>*@

@*<script src="~/js/Admin/Home/createController.js"></script>*@

<!-- select2 and multi select2 (bootstrap4)-->
@*<script>
        //$('#txtMaKH').select2()
        $('.select2').select2({
        })
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        //$('.tuyenTQ').select2({
        //    theme: 'bootstrap4'
        //})
    </script>*@

<!-- Validation -->
<script>

    $('#frmCTHoSoBNEdit').validate({
            //rules: {
            //    email: {
            //        required: true,
            //        email: true,
            //    },
            //    NgayDen: {
            //        required: true
            //    },
            //    chuDetour1: {
            //        required: true
            //    },
            //},
            //messages: {
            //    email: {
            //        required: "Please enter a email address",
            //        email: "Please enter a vaild email address"
            //    },
            //    NgayDen: {
            //        required: "Please provide a date"
            //    },
            //    chuDetour1: "Please enter value"
            //},
            errorElement: 'span',
            errorPlacement: function (error, element) {
                // add error text

                //error.addClass('invalid-feedback').removeClass('error');
                //element.closest('.chuDeTourGroup').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        //$('#txtChuDeTour').rules('add', {
        //    required: true,
        //    messages: {
        //        //required: "Chủ đề không được để trống"
        //    }
        //});

        //$('#txtNgayCT').rules('add', {
        //    required: true,
        //    dateFormat: true,
        //    messages: {
        //        // required: "Ngày đến không được để trống"
        //    }
        //});

        $('#btnSubmit_CTHoSoBN_Edit').click(function () { //.off('click').on('click', function () {
        debugger

        if ($('#frmCTHoSoBNEdit').valid()) {
            var cTHoSoBN = $('#frmCTHoSoBNEdit').serialize();
            $.ajax({
                type: "POST",
                url: "/CTHoSoBN/CTHoSoBN_Edit_Partial_Post",
                data: cTHoSoBN,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Sửa chi tiết thành công!'); // toastr in admin/tour/indexController.js

                        $('#CTHoSoBN_Create_Partial').hide(500);
                        $('#CTHoSoBN_Edit_Partial').hide(500);
                        debugger
                        HoSoBNId = '@Model.HoSoBN.SoPhieu';
                        page = '@Model.Page';

                        indexController.Load_CTHoSoBNPartial(HoSoBNId, page);
                    }
                    else {
                        toastr.error(response.message);

                    }
                }
            });
        }

    });

    $('#btnBack_CTHoSoBN_Edit').click(function () {
        $('#CTHoSoBN_Create_Partial').hide(500);
        $('#CTHoSoBN_Tbl').show(500);
        $('#CTHoSoBN_Edit_Partial').hide(500);

    })
</script>