@model HoSoBNViewModel

@using Microsoft.AspNetCore.Http
@using ThietBiYeuThuong.Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Sửa phiếu";
    var user = HttpContextAccessor.HttpContext.Session.GetSingle<ThietBiYeuThuong.Data.Models.User>("loginUser");

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sửa phiếu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="HoSoBN" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect">Danh sách phiếu</a></li>
                    <li class="breadcrumb-item active">Sửa phiếu</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Sửa phiếu</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">

            <form method="post" autocomplete="off" id="frmHoSoBNEdit">
                <div class="pr-4 pl-4 text-sm">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="HoSoBN.SoPhieu" type="hidden" />
                    <input asp-for="HoSoBN.LapPhieu" type="hidden" />
                    <input asp-for="HoSoBN.NgayLap" type="hidden" />
                    <input asp-for="HoSoBN.LogFile" type="hidden" />
                    <input type="hidden" asp-for="CTHoSoBN.HoSoBNId" value="0" />

                    <div class="form-group row">

                        <div class="col-md-2">
                            <label asp-for="HoSoBN.BenhNhanId" class="control-label "></label>
                            <div class="input-group">
                                <input asp-for="HoSoBN.BenhNhanId" class="form-control form-control-sm text-uppercase" id="txtBenhNhanId_Edit">
                                <span class="input-group-btn">
                                    <a href="javascript:;" class="btn btn-default btn-sm" id="btnBenhNhanSearch_Edit" data-benhnhanid="BenhNhanId" title="Tìm thông tin bệnh nhân"><i class="fa fa-search"></i></a>
                                </span>
                            </div>
                            <span asp-validation-for="HoSoBN.BenhNhanId" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label class="control-label ">Họ tên.BN</label>
                            <input type="text" class="form-control form-control-sm" id="txtHoTenBN_Edit" readonly />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label ">Họ tên.TN</label>
                            <input type="text" class="form-control form-control-sm" id="txtHoTenTN_Edit" readonly />
                        </div>
                        <div class="col-md-2">
                            <label class="control-label ">Năm sinh</label>
                            <input type="text" class="form-control form-control-sm" id="txtNamSinh_Edit" readonly />
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-2">
                            <label asp-for="HoSoBN.MaNVYT" class="control-label "></label>
                            <div class="input-group">
                                <input asp-for="HoSoBN.MaNVYT" class="form-control form-control-sm text-uppercase" id="txtNVYT_Edit">
                                <span class="input-group-btn">
                                    <a href="javascript:;" class="btn btn-default btn-sm" id="btnNVYTSearch_Edit" data-nvytid="NVYTId" title="Tìm thông tin bệnh nhân"><i class="fa fa-search"></i></a>
                                </span>
                            </div>
                            <span asp-validation-for="HoSoBN.MaNVYT" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label class="control-label ">Họ tên NV Y Tế</label>
                            <input type="text" class="form-control form-control-sm" id="txtHoTenNVYT_Edit" readonly />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label ">SĐT</label>
                            <input type="text" class="form-control form-control-sm" id="txtSĐT_Edit" readonly />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label ">Đơn vị</label>
                            <input type="text" class="form-control form-control-sm" id="txtDonVi_Edit" readonly />
                        </div>

                        <div class="col-md-3">
                            <label asp-for="HoSoBN.NVTruc" class="control-label "></label>
                            <input asp-for="HoSoBN.NVTruc" class="form-control form-control-sm" id="txtNVTruc" />
                            <span asp-validation-for="HoSoBN.NVTruc" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm" id="btnSubmit"><i class="fas fa-save"></i> Save</button>
                        <a class="btn btn-success btn-sm" asp-controller="HoSoBN" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect"><i class="fas fa-backward "></i> Back</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

<partial name="~/Views/Shared/_BenhNhanPartial_Edit.cshtml" />
<partial name="~/Views/Shared/_NVYTPartial_Edit.cshtml" />

@section Scripts{
    @*<script>

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: 'dd/mm/yy'
                });
            });
        </script>*@

    @*<script src="~/js/Admin/Home/createController.js"></script>*@

    <!-- select2 and multi select2 (bootstrap4)-->
    @*<script>
            //$('#txtMaKH').select2()
            $('.select2').select2({
            })
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
            //$('.tuyenTQ').select2({
            //    theme: 'bootstrap4'
            //})
        </script>*@

    <!-- Validation -->
    <script>

        $('#frmHoSoBNEdit').validate({
            //rules: {
            //    email: {
            //        required: true,
            //        email: true,
            //    },
            //    NgayDen: {
            //        required: true
            //    },
            //    chuDetour1: {
            //        required: true
            //    },
            //},
            //messages: {
            //    email: {
            //        required: "Please enter a email address",
            //        email: "Please enter a vaild email address"
            //    },
            //    NgayDen: {
            //        required: "Please provide a date"
            //    },
            //    chuDetour1: "Please enter value"
            //},
            errorElement: 'span',
            errorPlacement: function (error, element) {
                // add error text

                //error.addClass('invalid-feedback').removeClass('error');
                //element.closest('.chuDeTourGroup').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        //$('#txtChuDeTour').rules('add', {
        //    required: true,
        //    messages: {
        //        //required: "Chủ đề không được để trống"
        //    }
        //});

        //$('#txtNgayCT').rules('add', {
        //    required: true,
        //    dateFormat: true,
        //    messages: {
        //        // required: "Ngày đến không được để trống"
        //    }
        //});

        @*var loaiPhieu = '@Model.HoSoBN.LoaiPhieu';

            if (loaiPhieu === 'PN') { // nhap
                $('#txtNhap').hide(500);
                $('#txtXuat').hide(500);
            }
            else { // xuat
                $('#txtNhap').hide(500);
                $('#txtXuat').show(500);
            }*@

        // btnNVYTSearch_Edit
        $('#btnNVYTSearch_Edit').click(function () {

            var maNVYTtext = $('#txtNVYT_Edit').val();

            NVYTSearch_Edit(maNVYTtext);
        })

        // btnBenhNhanSearch_Edit
        $('#btnBenhNhanSearch_Edit').click(function () {

            var maBNtext = $('#txtBenhNhanId_Edit').val();

            BenhNhanSearch_Edit(maBNtext);
        })

        $('#txtBenhNhanId_Edit').blur(function () {

            maKhtext = $(this).val();
            BenhNhan_By_Code(maKhtext);
        })

        function BenhNhan_By_Code(code) {

            $.ajax({
                url: '/BanhNhan/GetBenhNhans_By_Code',
                type: 'GET',
                data: { code: code },
                dataType: 'json',
                success: function (response) {
                    if (response.status) {
                        var data = response.data;
                        // console.log(data);

                        $('#txtHoTenBN_Edit').val(data.taxsign);
                        $('#txtHoTenTN_Edit').val(data.taxform);
                        $('#txtNamSinh_Edit').val(data.taxcode);

                    }

                }
            });

        }

        function BenhNhanSearch_Edit(code) {
            $.get('/BenhNhan/SearchBenhNhans_Code_Edit', { code: code }, function (data) {

                $('#benhNhanh_Modal_Edit').modal('show');
                $('.benhNhan_Modal_Body_Edit').html(data);
                $('#benhNhanh_Modal_Edit').draggable();
            });
        }

        function NVYTSearch_Edit(code) {
            $.get('/NVYT/SearchNVYTs_Code_Edit', { code: code }, function (data) {

                $('#nVYTSearch_Modal_Edit').modal('show');
                $('.nVYTSearch_Modal_Body_Edit').html(data);
                $('#nVYTSearch_Modal_Edit').draggable();
            });
        }
    </script>

}