<div class="modal fade" id="baoCaoQuyTienVND_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form asp-action="BaoCaoQuyTienVND" asp-controller="BaoCaos" id="frmTinhTonQuy" method="post">

            <div class="modal-content ">
                <div class="modal-header p-1 pl-2 bg-secondary">
                    <h6 class="modal-title"><i class="fas fa-file text-info"></i> Tính tồn</h6>
                    <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body p-2">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-12">
                        <div class="rounded p-2 text-sm" style="padding-bottom:5px; background-color: aliceblue;" id="search">
                            <div class=" row text-sm">

                                <div class="col-md-2">
                                    <label>Từ ngày</label>
                                </div>

                                <div class="col-md-4">
                                    <input class="form-control form-control-sm maskInput" id="txtFromDate" name="searchFromDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <input type="hidden" id="hidTuNgay" />
                                </div>

                                <div class="col-md-2">
                                    <label>Đến ngày</label>
                                </div>

                                <div class="col-md-4">
                                    <input class="form-control form-control-sm maskInput" id="txtToDate" name="searchToDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <input type="hidden" id="hidDenNgay" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.modal-content -->
                </div>

                <div class="modal-footer p-0 pt-1 pr-2">
                    <button type="button" class="btn btn-secondary btn-sm" id="btnTonQuies" title="Tồn quỹ"><i class="fas fa-list"></i> </button>
                    <button type="button" class="btn btn-primary btn-sm" id="btnBaoCaoQuyTienVND"><i class="fas fa-print"></i> Báo cáo</button>
                    <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal"><i class="fas fa-power-off"></i></button>
                </div>
            </div>
            <!-- /.modal-content -->
        </form>
    </div>
    <!-- /.modal-dialog -->
</div>

<partial name="_TonQuy_Modal.cshtml" />
<script src="~/js/Admin/Home/baoCaoQuyTienVNDController.js"></script>
<script>

    shortcut.add("Enter", function () {

        // $('#btnBaoCaoQuyTienVND').click()

    });

    // btnBaoCaoQuyTienVND
    $('#btnBaoCaoQuyTienVND').off('click').on('click', function () {
        tuNgay = $('#txtFromDate').val();
        denNgay = $('#txtToDate').val();

        if (tuNgay === '' || denNgay === '') {
            toastr.warning("Ngày không được để trống", "Thông báo!");
        }
        else {
            $.post('/BaoCaos/CheckNgayTonQuy', { tuNgay: tuNgay, denNgay: denNgay }, function (response) {

                if (!response.status) {
                    toastr.warning(response.message, "Thông báo!");
                }
                else {

                    $('#frmTinhTonQuy').submit();
                }
            })

        }

    })

    // btnTonQuies
    $('#btnTonQuies').off('click').on('click', function () {
        tuNgay = $('#txtTuNgay').val();
        denNgay = $('#txtDenNgay').val();

        GetTonQuies(tuNgay, denNgay);
    })

    function GetTonQuies(tuNgay, denNgay) {
        url = '/TonQuies/GetTonQuies_Partial';
        $.get(url, { searchFromDate: tuNgay, searchToDate: denNgay }, function (response) {

            if (response.status === 'nullDate') {

                toastr.warning(response.message);
            }
            else { // true
                $('#tonQuy_Modal').modal('show');
                $('.tonQuy_Modal_Body').html(response);
                $('#tonQuy_Modal').draggable();
            }
        })
    }
</script>