<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Blank Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/lib/AdminLTE-3.1.0/plugins/fontawesome-free/css/all.min.css">
    <!-- Select2 -->
    <link href="~/lib/AdminLTE-3.1.0/plugins/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/AdminLTE-3.1.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/AdminLTE-3.1.0/dist/css/adminlte.css">
    <!-- jqueryui-->
    <link href="~/lib/AdminLTE-3.1.0/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <!-- Toastr -->
    <link rel="stylesheet" href="~/lib/AdminLTE-3.1.0/plugins/toastr/toastr.min.css">
    <!-- pace-progress -->
    <link href="~/lib/AdminLTE-3.1.0/plugins/pace-progress/themes/orange/pace-theme-flat-top.css" rel="stylesheet" />
    <!--<script src="~/lib/shortcut.js"></script> -->
    <script src="~/lib/shortcut.js"></script>

    <link href="~/images/heart.jpeg" rel="shortcut icon" />
    <link href="~/css/MyCss.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/TinhTon/Index" class="nav-link">Tính tồn</a>
                </li>
            </ul>

            <partial name="_LoginPartial.cshtml" />
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <partial name="_Leftmenu.cshtml" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 1602px;">
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                    @TempData["AlertMessage"]
                </div>
            }
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b>1.0
            </div>
            <strong>Copyright &copy; 2021 <a href="/PhieuNX">HoSoBenhNhan</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lib/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/plugins/bootbox.js/bootbox.js"></script>
    <script src="~/lib/numeral.js/numeral.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2-->
    @*<script src="~/lib/AdminLTE-3.1.0/plugins/select2/js/select2.js"></script>*@
    <script src="~/lib/AdminLTE-3.1.0/plugins/select2/js/select2.full.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/jquery.maskedinput/jquery.maskedinput.js"></script>
    <script src="~/lib/AdminLTE-3.1.0/dist/js/adminlte.min.js"></script>
    <!-- Toastr -->
    <script src="~/lib/AdminLTE-3.1.0/plugins/toastr/toastr.min.js"></script>
    <!-- pace-progress -->
    <script src="~/lib/AdminLTE-3.1.0/plugins/pace-progress/pace.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            $(".maskInput").mask("99/99/9999");

            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(2000);

        });
    </script>

    <style>
        .error {
            color: red;
        }

        .mytable tr:hover {
            /*background-color: #ECF5F5;*/
            background-color: #e5f3ff;
            cursor: pointer;
        }

        .hoverClass {
            background-color: #cce8ff;
            /*background-color: #17a2b8;*/
            /*background-color: #3C8DBC;*/
            /*color: white;*/
        }

        .card {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .mytable {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #search {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        /*select2 small input and small text*/
        .select2-search input {
            height: calc(1.8125rem + 2px);
        }

        .select2-results li {
            font-size: 0.875rem !important;
        }
        }
    </style>
</body>
</html>