@using Microsoft.AspNetCore.Http
@using ThietBiYeuThuong.Data.Utilities
@using ThietBiYeuThuong.Data.Models
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav ml-auto">

    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user">Welcome - @(HttpContextAccessor.HttpContext.Session.GetSingle<User>("loginUser").Hoten)!</i>
            @*<i class="fas fa-user">Welcome!</i>*@
        </a>

        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownMenuLink">
            <div class="container">
                <a asp-controller="Login" asp-action="changepass" asp-route-strUrl="@Url.RouteUrl(ViewContext.RouteData.Values)" class="dropdown-item">Change password</a>
                <a asp-controller="Login" asp-action="Logout" class="dropdown-item">Đăng xuất</a>
            </div>
        </div>
    </li>
</ul>